In [3]:
import pandas as pd

df_csv = pd.read_csv(r"D:\Degree Sem 3\PWP\Lab Task\python\Exp 22\sample_data_500.csv")

print(df_csv)

        Name  Age          City
0      Grace   25      New York
1     Xavier   35       Phoenix
2        Bob   39  Jacksonville
3      Kabir   44  Jacksonville
4    Charlie   50   San Antonio
..       ...  ...           ...
495    Alice   36      San Jose
496    Kabir   23  Indianapolis
497    Wendy   39       Chicago
498    Laura   30        Denver
499     Mike   39    Washington

[500 rows x 3 columns]

In [4]:
print("\nüîç Data Types of CSV Columns:")
print(df_csv.dtypes)

üîç Data Types of CSV Columns:
Name    object
Age      int64
City    object
dtype: object

In [5]:
# Create a copy for demonstration (optional)
df_filled = df_csv.copy()

# Fill missing values in Age column with mean
df_filled['Age'] = df_filled['Age'].fillna(df_filled['Age'].mean())

print("Data After Filling Missing Values:")
print(df_filled)

Data After Filling Missing Values:
        Name  Age          City
0      Grace   25      New York
1     Xavier   35       Phoenix
2        Bob   39  Jacksonville
3      Kabir   44  Jacksonville
4    Charlie   50   San Antonio
..       ...  ...           ...
495    Alice   36      San Jose
496    Kabir   23  Indianapolis
497    Wendy   39       Chicago
498    Laura   30        Denver
499     Mike   39    Washington

[500 rows x 3 columns]

In [6]:
print("Data Types of Each Column:")
print(df_csv.dtypes)

Data Types of Each Column:
Name    object
Age      int64
City    object
dtype: object

In [7]:
# Make a copy (optional)
df_filled = df_csv.copy()

# Fill missing values in the Age column with the mean age
df_filled['Age'] = df_filled['Age'].fillna(df_filled['Age'].mean())

print("Data After Filling Missing Values:")
print(df_filled)

Data After Filling Missing Values:
        Name  Age          City
0      Grace   25      New York
1     Xavier   35       Phoenix
2        Bob   39  Jacksonville
3      Kabir   44  Jacksonville
4    Charlie   50   San Antonio
..       ...  ...           ...
495    Alice   36      San Jose
496    Kabir   23  Indianapolis
497    Wendy   39       Chicago
498    Laura   30        Denver
499     Mike   39    Washington

[500 rows x 3 columns]